.view-container {
    width: 280px;
    height: 420px;
    background-color: rgb(15, 23, 83);
  }
  
  .article {
    height: 100%;
    padding: 4%;
  
    li {
      
      height: 100%;
      display: flex;
      flex-direction: column;
      color: white;
  
      .img-art {
        align-self: center;
        width: 200px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left top;
      }
  
      a {
        color: gainsboro;
        margin-top: 1.5em;
      }
    }
  }
span {
    color: rgb(220, 17, 17)
  }
 